<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<style type="text/css">
  td {
    border:solid 1px #FF0000;
     }
  </style>
</head>

<body>
	<h1>订单们</h1>
    <table>
    	<thead><tr><td>订单id</td><td>出发日期</td><td>返回日期</td><td>人数</td><td>DIY嘛？</td><td>姓名</td><td>电话</td><td>邮箱</td><td>人备</td><td>订备</td><td>装备名</td><td>数量</td><td>票名</td><td>数量</td><td>保险费</td><td>总费用</td></tr></thead>
    	{% for o in orders %}
        <tr><td>{{ o.o_id }}</td><td>{{ o.departDate }}</td><td>{{ o.returnDate }}</td><td>{{ o.campingPeople }}</td><td>{{ o.isDiy }}</td><td>{{ o.name }}</td><td>{{ o.tel }}</td><td>{{ o.email }}</td><td>{{ o.cnote }}</td><td>{{ o.onote }}</td><td>{{ o.ename }}</td><td>{{ o.eq }}</td><td>{{ o.tname }}</td><td>{{ o.tq }}</td><td>{{ o.ic }}</td><td>{{ o.total }}</td></tr>
        {% endfor %}
    </table>

    <h1>团队订单们</h1>

    <table>
      <thead><tr><td>订单id</td><td>订购人姓名</td><td>手机</td><td>email</td><td>备注</td></tr></thead>
      {% for g in groups %}
        <tr><td>{{ g.o_id }}</td><td>{{ g.name }}</td><td>{{ g.tel }}</td><td>{{ g.email }}</td><td>{{ g.note }}</td></tr>
        {% endfor %}
    </table>

</body>
</html>
