<!doctype html>
<html>
<head>
	<title>易露营--露营设备介绍</title>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    
    <link rel="icon" href="../static/image/favicon.ico" type="image/x-icon" charset="utf-8">
	<link rel="shortcut icon" href="../static/image/favicon.ico" type="image/x-icon">
    
	<link rel="stylesheet" href="../static/css/product.css" type="text/css">
    <link rel="stylesheet" href="../static/css/button.css" type="text/css">
    <script type="text/javascript" src="../static/js/jquery-1.10.2.js"></script>
    <script src="../static/js/jquery-ui-1.10.4.custom.js"></script>
	<script type="text/javascript" src="../static/js/tip.js"></script> 

   
	

</head>

<body>
<div>
	
    
	

	<div id="header-background">
    	<img src="../static/image/product.jpg">
    </div>
    
    <div id="header-container">
    	<a onclick="window.location.href = $SCRIPT_ROOT + '/';"><div id="logo">
        	<img src="../static/image/logo.png">
        </div></a>
        <div id="back-to-index">
        	<a onclick="window.location.href = $SCRIPT_ROOT + '/';"><p><<返回主页</p></a>
        </div>

        
        
        <div id="destination-detail">
        	<div id='maintitle'>露营设备介绍</div>
        	<div id="mainpost" >
            	<ul>
                	<li>双人帐篷</li>
                	<li><img src="../static/image/product_intro/p1.jpg"></li>
                    <li>四人帐篷</li>
                	<li><img src="../static/image/product_intro/p2.jpg"></li>
                    <li>八人帐篷</li>
                	<li><img src="../static/image/product_intro/p3.jpg"></li>
                    <li>防潮垫</li>
                	<li><img src="../static/image/product_intro/p4.jpg"></li>
                    <li>睡袋</li>
                	<li><img src="../static/image/product_intro/p5.jpg"></li>
                    <li>帐篷灯</li>
                	<li><img src="../static/image/product_intro/p6.jpg"></li>
                    
                </ul>
            </div>
        	
            
        </div>
    
    </div>
</div>

</body>
</html>
