{% extends "recommendation.html" %}

{% block title %}

{% if name == '13sentence' %}毕业了，给班长的13句话{% endif %}
{% if name == 'gqd' %}枸杞岛{% endif %}
{% if name == 'la' %}山林之暮【临安•西径山】{% endif %}
{% if name == 'nzj' %}庄园之夏【湖州•鸟之家庄园】{% endif %}
{% if name == 'qdh' %}环湖之行【淳安•千岛湖】{% endif %}

{% endblock %}



{% block post %}

{% if name == '13sentence' %}
<p>1.你总说毕业遥遥无期，转眼就各奔东西。</p><p>
2. 多希望你再组织最后一次活动，给全班同学认认真真发一条长长的通知短信，像开学的时候一样，认认真真的做一次自我介绍，说说心里话。</p><p>
3. 离开就是新的开始。我不想再过多的缅怀过去，我只希望我们都能拥有更美好的未来。我们爱你，爱有你们的青春岁月</p><p>
4. 最后一次收到你的短信，告诉我几号答辩，几号毕业典礼，几号办离校手续，其实想抱着你的大脸哭：其实我不想走，其实我想留</p><p>
5. 快乐飘过, 冷漠飘过, 独行仍一个, 怀念昨日昨日一起哼过的歌, 昨日的你, 昨日的我, 未忘纯纯的真我, 流泪亦是开心不放下自我</p><p>
6. 这是我们梦开始的地方，也是我们梦结束的地方。临走的时候，大家都起哄着对你说：＂班长，点个名＂，开始我们都还在笑，可笑着笑着，我们都哭了。因为，这一次，说了再见，可能就真的一辈子再也不见了。</p><p>
7. 毕业，就像一个大大的句号，从此，我们告别了一段纯真的青春，一段年少轻狂的岁月。</p><p>
 8. 别人在打Dota，你在打电话，做完繁重的任务写策划，为什么要听班长的话，毕业后我才懂得这段话。</p><p>
9. 天这么冷，你一定不知道已经是立夏将过。满校园论文吐血，毕业衫吐槽季。时间不会停，无论你是张慌无措地来，还是兵荒马乱地走。很多年后你可能还是一个人，还没走，已经在怀念校园两旁昏暗的灯和永远理不齐整的床褥。</p><p>
10. 班长，就是那个念书时我们最讨厌的人，收班费拉人听报告。班长，就是那个毕业时最后离开的人。他把每一个人都送走，最后检查下宿舍的窗户关没关好。班长，就是那个毕业后最怀念的人，他所在的地方就是一个磁场，把我们从孤独的个人吸引为集体。</p><p>
11. 这个夏天，我们就散了，各自奔向各自的世界。毕业那天，你笑着说：“谁都不要哭，都微笑的滚蛋好吗？”</p><p>
12.也许将来摧垮我们之间联系的并不是洪水猛兽，而是最平淡无奇的生活，分别来的如此安宁，我们却期望来个轰轰烈烈的结束。</p><p>
13. 时间时间你别催，该来的我不推；时间时间你别催，该走的我不追。</p><p>

当多年以后我们再聚在一起，总要有个东西来让我们怀念。所以，班长班长，最后一次了，带我们去旅行好吗？所有人一起去。
</p>

{% endif %}


{% if name == 'gqd' %}
<p>枸杞岛是嵊泗列岛中仅次于泗礁山的第二大岛。面积5.6平方公里。渔业为岛上的主要产业，岛上的旅游业也是近两年才发展起来的，基本还保持着原生态，另外由于上海出发每天只有一班船400多张票，所以岛上游客也不会太多。</p><p>关于交通】</p><p>去枸杞岛一般从上海出发，买上海南浦大桥---小洋山的沈家湾码头车船票：122元，车船一体票可以到南浦大桥客运中心购买，回程车船一体票116元，岛上码头购买；回程车船一体票无法提前购买，只能到了岛上当天购买。因为涉及到大雾等天气，所以回程票不提前预售。</p><p>从上海去枸杞岛的车船联票很难买，每天一班船总共只有400张左右，要预留一定的票给当地人，旅行社可以通过各种渠道提前拿票，外加窗口还有各种黄牛抢票，所以节假日想买到票真的不容易。</p><p>这次我们五一去是凌晨一点就在售票口排队了，当时还遇到了同样来买票的复旦学生。然后大概三点左右黄牛陆续赶来，最终窗口只发售了28张票。。。还好我们去的早买到了。。。。真是一段心酸的往事啊。。。</p><p>时间上，上海南浦大桥汽车每天7:15出发，到沈家湾大概需要1.5小时车程，沈家湾九点发船前往枸杞岛大概需要4小时船程。</p>

{% endif %}

{% if name == 'la' %}

<p>西径山自古即为名胜之地，山水秀美，环境清幽，文化灿烂，水体景观摇曳多姿，百米飞瀑泄玉溅珠，沿着山路蜿蜒而上，处处有溪，山顶有湖，水声潺潺，鸟鸣声声，水色碧绿如玉，山岩象形奇巧，还有千年古刹双林寺，十八进士共一村。这里距离杭州很近，便利所有行程忙碌的毕业生一起参加。山顶卧佛处有大块空地露营，在凉亭上看日出，到古寺撞次钟，鞠一捧山间竹管导出来的山泉水，呼吸一口临安的好空气，简直不能更美妙！景区正在开发露营基地、素拓活动。山下可以烧烤和农家乐，山脚下和山上都有公共厕所，很适合喜欢露营但是不愿意环境太艰苦的朋友。</p><p>亮点：千年古刹，清幽山林，山顶有湖，临安好空气，露营，素拓项目，凉亭观日</p><p>行程：推荐两天一夜</p><p>Day1:</p><p>中午杭州出发，下午到达西径山风景区，选择合适的地方搭好帐篷，（除山脚下外，山顶成功大卧佛前有平坦的露营地；在半山腰的湖边也有露营场地）并稍做休息。傍晚可选择在山脚农家乐吃完饭，也可自助烧烤（景区有烧烤设备，自备食材）。晚上举行篝火晚会，看星星，在帐篷里玩桌游，讲故事，聊天，直到深夜，然后各自在帐篷里沉睡</p><p>Day2:</p><p>早起一边登山一边看日出，山林静谧，普通的游客还没有到来，独享自然美景。一路风景迤逦，山泉湖泊瀑布不断，尤其是在雨后，山间云雾缭绕，空气清新中带着甜润的花香，非常舒服。上午9点左右下山，稍做休息，可选择景区的真人CS、瀑降、岩降、溯溪等活动，灵活决定返回时间<p></p>费用：198元</p>




{% endif %}




{% if name == 'nzj' %}

<p>湖州鸟之家户外庄园位于湖州西郊妙峰山栖贤寺东侧，其中内有鸟之家山庄、烧烤、篝火区、露营区等。鸟之家拥有多个主题项目的休闲活动营地，不仅有让人留连忘返的自然风景，还有 “茶圣”陆羽墓、慕羽坊、三癸亭、皎然塔，更有别有风味的休闲农庄及乡村旅游项目，在这里有丰富的食材，可以做野外大锅饭，到烧烤飘香时，“鸟之家”竹林环绕、草木葱茏，置身于用山间毛竹搭建的长廊中，品尝自己动手的烧烤美食！这里有齐全的真人CS装备和专业的教练指导，让所有人可以玩得更尽兴！ 晚上可以在通宵室内舞厅HIGH，累了则在专门的露营区过夜，平坦宽敞的草地安全放心。</p><p>亮点：毛竹长廊；茶圣文化；篝火晚会；自助烧烤；露营基地；素拓项目，真人CS</p><p>行程：推荐两天一夜</p><p>Day1:</p><p>
杭州早上8点集合上车，赴湖州鸟之家。中午在鸟之家山庄享用午餐。下午在导游的陪同下游妙峰山陆羽茶文化景区，赴陆羽墓、慕羽坊、三癸亭、皎然塔参观，感受当地文化景观。晚餐是自己动手的烧烤美食！夜幕降临后开始篝火晚会，有丰富的互动游戏和烟花。</p><p>Day2:</p><p>早餐后进行真人CS的活动，体验和全班同学一起游戏的乐趣，还有真人版愤怒的小鸟等特色团队游戏。午餐后返回杭州。</p>




{% endif %}





{% if name == 'qdh' %}

<p>千岛湖风景区群山绵延，森林繁茂， 573平方公里的湖水晶莹透澈，被赞誉为“天下第一秀水”。是世界上最多岛屿的湖，这里碧波浩瀚，湖水清澈；林木茂盛，满目葱绿；动物繁多，景观独特；溪谷峰岩，交相辉映。无论你想在乘船在岛屿间穿行，还是想享受在湖畔吹风的风情，或是与动物们嬉戏、去周边探寻古村落、去山涧漂流、骑自行车沿湖兜风。毕业季，放下感伤和迷茫，在美丽的千岛湖畔，亲近大自然，放飞心情。</p><p>亮点：乘船游湖；有机鱼头大餐；环湖骑行；森林氧吧；湖边露营</p><p>行程：推荐两天一夜</p><p>Day1:</p><p>早上杭州乘车出发，午餐后乘船游览千岛湖中心湖（梅峰岛、渔乐岛、龙山岛、月光岛，以上岛屿四选三，以当地游船安排行程为准），晚餐享用千岛湖有机鱼头套餐。晚餐后，千岛湖环湖骑行，可选单人或双人自行车。（夏季骑车开放时间：08:00-21:00点）</p><p>Day2:</p><p>早餐后在千岛湖森林氧吧感受大自然赋予的新鲜空气，远离雾霾的洗肺之旅。午餐后乘车返回杭州</p><p>费用：598元</p>



{% endif %}



{% endblock %}