<!doctype html>
<html>
<head>
	<title>易露营--小易的温馨贴士</title>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    
    <link rel="icon" href="../static/image/favicon.ico" type="image/x-icon" charset="utf-8">
	<link rel="shortcut icon" href="../static/image/favicon.ico" type="image/x-icon">
    
	<link rel="stylesheet" href="../static/css/tip.css" type="text/css">
    <link rel="stylesheet" href="../static/css/button.css" type="text/css">
    <script type="text/javascript" src="../static/js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="../static/js/tip.js"></script>

  	<script type=text/javascript>
  		var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>

<body>
<div>
	
    
	

	<div id="header-background">
    	<img src="../static/image/tip.jpg">
    </div>
    
    <div id="header-container">
    	<a onclick="window.location.href = $SCRIPT_ROOT + '/';"><div id="logo">
        	<img src="../static/image/logo.png">
        </div></a>
        <div id="back-to-index">
        	<a onclick="window.location.href = $SCRIPT_ROOT + '/';"><p><<返回主页</p></a>
        </div>

        
        <div id="choose-destination">
        	<ul>
            	<a onClick="window.location.href = $SCRIPT_ROOT + '/_tip/intro';"><li>露营简介</li></a>
                <a onClick="window.location.href = $SCRIPT_ROOT + '/_tip/around';"><li>杭州周边露营</li></a>
                <a onClick="window.location.href = $SCRIPT_ROOT + '/_tip/howtochoose';"><li>如何选择营地</li></a>
                <a onClick="window.location.href = $SCRIPT_ROOT + '/_tip/equip';"><li>如何选择装备</li></a>
            </ul>
        </div>
        
        <div id="destination-detail">
        	<div id='maintitle'>{% block title %}{% endblock %}</div>
        	<div id="mainpost" >{% block post %}{% endblock %}</div>
        	
            
        </div>
    
    </div>
</div>

</body>
</html>
